# Configuración de Mercado Pago
MERCADOPAGO_BACKURL_BASE=https://api.example.com

# Credenciales (opcional para desarrollo local, si se pasan por UI)
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
